.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/
android/.gradle/
android/app/build/
android/local.properties
android/key.properties
ios/
linux/
macos/
web/
windows/
